---
layout: default
---

<section id="agenda">
  <div class="container">
    <div class="container">
              <div class="title-container">
          <div class="agenda-title">Agenda</div>
        </div>
      </div>


      <div class="agenda-wrapper">
        {% for day in site.data.agenda %}
        <div class="col-sm-3 agenda-day">
          <h4 class="center-block agenda-date"> {{ day.date }}. <br><span>{{ day.dayOfWeek }}</span></h4>
          {% for act in day.activities %}
            {% if act.coffee %}
            <div class="break">
              <div class="hour">
                <p>
                  <span class="fancy"></span>
                </p>
              </div>
            </div>
            {% endif %}
            {% if act.notfill %}
            <div class="agenda-activity">
              <div class="activity-time">{{ act.time }}</div>
              <a href="#events">
                <div class="activity-block cal-four-thirty text-left">
                  <div class="activity-border"></div>
                  <div class="activity-name"><b>{{ act.name }}</b>
                  </div>
                  <div class="activity-speaker">{{ act.speaker }}</div>
                  <div class="activity-location">{{ act.place }}</div>
                </div>
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}


      </div>
    </div>
  </section>
