---
layout: default
---


<section id="activities">
    <div class="container">
    {% for day in site.data.agenda %}
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="agenda-title">{{ day.date }}</div>
            </div>
        </div>

        <div class="container">
        {% for act in day.activities %}
          {% unless act.coffee or act.meal %}
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 activity-box">
                <div class="col-sm-3 hidden-xs activity-img">
                  <img src="/img/act/{{ act.image }}"/>
                  <div class="activity-info">
                    <p class="activity-datetime">
                      <i class="fa fa-map-marker"></i><span> {{ act.place }} </span>
                      <i class="fa fa-clock-o"></i><span> {{ act.time }}</span>
                    </p>
                    <div class="activity-speaker">
                      {% if act.speaker %}
                      <p>{{ act.speaker }}</p>
                      {% endif %}
                      {% if act.enterprise %}
                      <p class="activity-enterprise">{{ act.enterprise }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-sm-9 activity-text">
                  <p class="activity-title">{{ act.name }}</p>
                  {% if act.type %}
                  <div class="activity-type">
                    <p>{{ act.type }}</p>
                  </div>
                  <div class="hidden-lg hidden-md hidden-sm activity-info">
                    <p class="col-xs-6 activity-datetime">
                      <i class="fa fa-map-marker"></i><span> {{ act.place }} </span>
                      <i class="fa fa-clock-o"></i><span> {{ act.time }}</span>
                    </p>
                    <div class="col-xs-6 text-right activity-speaker">
                      {% if act.speaker %}
                      <i class="fa fa-user"></i><span>{{ act.speaker }}</span>
                      {% endif %}
                      {% if act.enterprise %}
                      <i class="fa fa-building-o"></i><span class="activity-enterprise">{{ act.enterprise }}</span>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                 <p class="col-xs-12 activity-text">{{ act.text }}</p>
                </div>
            </div>
          </div>
          {% endunless %}
        {% endfor %}
        <div class="activity-filler"></div>
        </div>
      {% endfor %}
    </div>
  </section>
