---
layout: default
---


<section id="activities">
    <div class="container">
      

    {% for day in site.data.agenda %}

        <div class="container">
            <div class="col-md-12 title-container">
                <div class="agenda-title">{{ day.date }}</div>
            </div>
        </div>

        <div class="container">

        {% for act in day.activities %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        
        
        {% if act.notfill %}
            
            {% if thecycle == 'odd' %}



                <div class="col-md-12">
                    
                    <div class="col-md-3 col-md-offset-1">
                        <div class="speaker-img">
                            <img style="max-width:100%;max-height:100%" src="../img/speakers/mike.jpg"/>
                        </div>
                        <div class="center">
                        <span class="actname">{{ act.name }}</span>
                        {% if act.speaker %}
                        <span class="speaker-position">{{ act.speaker }}</span></br>
                        {% endif %}
                        {% if act.type %}
                        <span class="speaker-position">{{ act.type }}</span>
                        {% endif %}
                        </div>
                        
                        
                    </div>
                    <div class="col-md-5">
                        <div class="text-left col-md-6">
                        <span class="acthour"><i class="fa fa-clock-o"></i> {{ act.time }}</span></div>
                        
                        <div class="actplace col-md-6">
                        <i class="fa fa-map-marker"></i> {{ act.place }}
                        </div>
                
                        <div class="acttext">{{ act.text }}</div>
                        
                    </div>

                </div>
                    {% endif %}

            {% if thecycle == 'even' %}



                <div class="col-md-12">
                    

                    <div class="col-md-5 col-md-offset-2">
                        <div class="text-left col-md-6">
                        <span class="acthour"><i class="fa fa-clock-o"></i> {{ act.time }}</span></div>
                        
                        <div class="actplace col-md-6">
                        <i class="fa fa-map-marker"></i> {{ act.place }}
                        </div>
                
                        <div class="acttext">{{ act.text }}</div>
                        
                    </div>

                    <div class="col-md-3">
                        <div class="speaker-img">
                            <img style="max-width:100%;max-height:100%" src="../img/speakers/mike.jpg"/>
                        </div>
                        <div class="center">
                        <span class="actname">{{ act.name }}</span>
                        {% if act.speaker %}
                        <span class="speaker-position">{{ act.speaker }}</span></br>
                        {% endif %}
                        {% if act.type %}
                        <span class="speaker-position">{{ act.type }}</span>
                        {% endif %}
                        </div>
                        
                        
                    </div>

                </div>
                    {% endif %}


                
                {% endif %}
                

        {% endfor %}
            </div>    
        {% endfor %}



      </div>
  </section>
