---
layout: default
---


<section id="activities">
    <div class="container">
    {% for day in site.data.agenda %}
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="agenda-title">{{ day.date }}</div>
            </div>
        </div>

        <div class="container">
        {% for act in day.activities %}
        {% if act.notfill %}
          <div class="row">
            <div class="activity-box col-md-8 col-md-offset-2">
                <div class="activity-img col-md-3">
                  <img src="../img/act/{{ act.image }}"/>
                  <div class="activity-info">
                    <p class="activity-datetime">
                      <i class="fa fa-map-marker"></i> {{ act.place }}
                      <i class="fa fa-clock-o"></i> {{ act.time }}
                    </p>
                    <div class="activity-speaker">
                      <p>Test Speaker</p>
                      <p class="activity-enterprise">Enterprise</p>
                    </div>
                  </div>
                  <!--
                  {% if act.speaker %}
                  <p class="activity-speaker">{{ act.speaker }}</p>
                  {% endif %}
                  -->

                </div>
                <div class="col-md-9 activity-text">
                  <p class="activity-title">{{ act.name }}</p>
                  {% if act.type %}
                  <div class="activity-type">
                    <p>{{ act.type }}</p>
                  </div>
                  {% endif %}
                 <p class="activity-text">{{ act.text }}</p>
                </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <div class="activity-filler"></div>
        </div>
      {% endfor %}
    </div>
  </section>
