---
layout: withModals
---
<section id="aboutspeakers" controller="speakerCtrl">
    <div class="container">
        <div class="section-title-container text-center">
            <h1 class="section-title">Oradores</h1>
        </div>

        <div class="speakers-def col-md-8 col-md-offset-2">
            Durante esta semana vais ter a oportunidade de conhecer muitos oradores nacionais e internacionais reconhecidos e de empresas notórias, mas até lá, vai dando uma vista de olhos para saberes o que podes esperar desta edição.
        </div>
        <div class="speakers-def col-md-8 col-md-offset-2">
            Mais oradores a serem anunciados regularmente!
        </div>
        <div class="speakers-list">
        {% for speaker in site.data.speakers %}
            <div class ="speakers-list-cell speakers-container" class="speak-list" >
                <div id="{{ speaker.name | slugify }}" type="button" data-toggle="modal" data-target="#animatedModal{{ speaker.id }}">
                    <div class="col-md-12 col-md-offset-1">
                        <div class="speaker-img">
                            {% image 'speakers/{{ speaker.pic }}' class:'speaker-pic' %}
                        </div>
                
                        <span class="speaker-name">{{ speaker.name }}</span>

                        {% if speaker.position %}
                            <span class="speaker-position">{{ speaker.position }}</span>
                        {% endif %}
                        
                        {% if speaker.enterprise %}
                            <p class="speaker-company">
                                <a href="{{ speaker.enterpriseURL }}" target="_blank">
                                    {{ speaker.enterprise }}
                                </a>
                            </p>
                        {% endif %}
                        
                    </div>
                    <div class="modal fade" id="animatedModal{{ speaker.id }}" role="dialog">
                        <div class="modal-dialog  speaker-about-modal">
                            
                            <div class="modal-content speaker-about-modal">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ speaker.name }}</h4>
                                </div>
                                {% include speakers-content.html %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if speaker.about %}
                    <div class="speaker-about">    
                        <button type="button" class ="btn-readMore btn btn-info btn-sei" data-toggle="modal" data-target="#animatedModal{{ speaker.id }}">
                            Ler Mais..
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>
