---
layout: default
---
<section id="aboutspeakers" controller="speakerCtrl">
  <div class="container">
    <div class="section-title-container text-center">
      <h1 class="section-title">Oradores</h1>
    </div>

    <div class="speakers-def col-md-8 col-md-offset-2 ">
      Durante esta semana vais ter a oportunidade de conhecer muitos oradores nacionais e internacionais reconhecidos e de empresas notórias, mas até lá, vai dando uma vista de olhos para saberes o que podes esperar desta edição.
    </div>

    {% for speaker in site.data.speakers %}
    <div id="{{ speaker.name | slugify }}" class="col-md-12 speak-list">
      <div class="col-md-3 vcenter">
        <div class="speaker-img">
          {% image 'speakers/{{ speaker.pic }}' class:'speaker-pic' %}
        </div>
        <span class="speaker-name">{{ speaker.name }}</span>

        {% if speaker.position %}
        <span class="speaker-position">{{ speaker.position }}</span>
        {% endif %}
        {% if speaker.enterprise %}
        <p class="speaker-company">
          <a href="{{ speaker.enterpriseURL }}" target="_blank">
            {{ speaker.enterprise }}
          </a>
        </p>
        {% endif %}
        <div class="col-lg-12 ">
          <ul class="list-inline social-buttons speaker-social">
            {% if speaker.web %}
            <li>
              <a if="speaker.web" target="_blank" href="{{ speaker.web }}"><i class="fa fa-globe"></i></a>
            </li>
            {% endif %}
            {% if speaker.twitter %}
            <li>
              <a if="speaker.twitter" target="_blank" href="{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}
            {% if speaker.github %}
            <li>
              <a if="speaker.github" target="_blank" href="{{ speaker.github }}"><i class="fa fa-github"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
   <div class="col-md-9 vcenter">
        <span class="aboutspeaker">{{ speaker.about }}</span>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
