<!-- AboutSei -->
    <section id="aboutsei">
            <div class="container">
                <div class="col-md-12">
                        <div class="col-md-12 title-container">
                            <div class="aboutsei-title">#SEI16</div>
                        </div>
                </div>

                <div>
                    <div class="col-md-7"> 
                        </br></br></br></br>
                        <h4 style="color:white; font-weight:bold;">
                            
                                <p><span style="color:#1A94DE">Centenas</span> de estudantes de informática</p></br>
                                <p>7 dias cheios de <span style="color:#1A94DE">eventos</span></p></br>
                                <p>Hackathons, palestras e workshops</p></br>
                                <p> Completamente <span style="color:#1A94DE">grátis</span></p></br></h4>
                                <h3 style="font-weight:bold;color:#1A94DE">A melhor semana de informática do pais</h3>

                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-4">
                        <img class="img-responsive aboutseipic" src="img/logo_sei.png"/>
                    </div>
                </div>



            </div>
    </section>
