    <!-- speakers Section -->
    <section id="aboutspeakers" controller="speakerCtrl">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="speakers-title">Oradores</div>
            </div>

                    <div class="col-md-8 col-md-offset-2" style="font-size: 18px">
                    </br></br>
                        Durante esta semana vais ter a oportunidade de conhecer muitos oradores nacionais e internacionais reconhecidos e de empresas notorias, mas até la, vai dando uma vista de olhos para saberes o que podes esperar desta edição.
                    </br></br></br></br>
                    </div>
                
                    {% for speaker in site.data.speakers %}
                    <div class="col-md-12">
                    <div repeat="speaker in speakers" class="col-md-3">
                        <div class="speaker-img" style="border-radious:50%">
                            <img style="max-width:100%;max-height:100%" src="../{{ speaker.pic }}"/>
                        </div>
                        <span class="speaker-name">{{ speaker.name }}</span>
                        
                        {% if speaker.position %}
                        <span class="speaker-position">{{ speaker.position }}</span>
                        {% endif %}
                        {% if speaker.enterprise %}
                        <span class="speaker-company">
                            <a repeat="enterprise in speaker.enterprise" target="_blank" href="{{ enterprise.enterpriseUrl }}">
                                {{ speakers.enterprise }}
                            </a>
                        </span>
                        {% endif %}
                        <div class="col-lg-12 ">
                            <ul class="list-inline social-buttons speaker-social">
                                {% if speaker.web %}
                                <li>
                                    <a if="speaker.web" target="_blank" href="{{ speaker.web }}"><i class="fa fa-globe"></i></a>
                                </li>
                                {% endif %}
                                {% if speaker.twitter %}
                                <li>
                                    <a if="speaker.twitter" target="_blank" href="{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a>
                                </li>
                                {% endif %}
                                {% if speaker.github %}
                                <li>
                                    <a if="speaker.github" target="_blank" href="{{ speaker.github }}"><i class="fa fa-github"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                    </div></br></br>
                    <div class="col-md-9">
                        <span class="aboutspeaker">{{ speaker.about }}</span>
                    </div>
                </div>

                <div class="col-md-12"> 
                </br></br>
                </br></br>
                </div>
                {% endfor %}
            </ul>

        </div>
    </section>