<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SEI 15 - Semana da Engenharia Informática</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Angular things -->
    <link href="css/angular-carousel.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/about.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/events.css" rel="stylesheet">
    <link href="css/agenda.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index" ng-app="sei-app">




    <!--about Section--><!--
    <section id="events" ng-controller="eventCtrl as event">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="about-title">About</div>
            </div>

        </br></br></br></br></br></br></br>




                <div class="about-subtitle">O que é a SEI?</div>
                        <div class="about-text">   
                            <h5>Este ano decorre mais uma edição da SEI.
                        Uma semana que junta centenas de estudantes de informatica numa conferencia 
                        sobre o tema que conta com oradores nacionais e internacionais das mais diversas areas informaticas
                        e de varias empresas.</br></br>
                        Esta semana é totalmente gratuita para todos os participantes e surgiu pela necessidade de adquirir conhecimentos não abordados no curso.
                        Uma semana organizada de estudantes para estudantes e temos palestras, workshops e outras atividades preparadas para ti.
                            </h5>
                        </div>
                    </div>
        

            
                
        </div>
    </section>



-->





<!-- Agenda -->
    <section id="agenda">
            <div class="container">
                <div class="col-md-12">
                        <div class="col-md-12 title-container">
                        
  <div class="agenda-title" style="color:white;float:center;">O que é a SEI?</div>
                        </div>
                    </div>


                        

                        <div>



                        <div class="col-md-7">
                            <h5 style="color:white">Este ano decorre mais uma edição da SEI.
                        Uma semana que junta centenas de estudantes de informatica numa conferencia 
                        sobre o tema que conta com oradores nacionais e internacionais das mais diversas areas informaticas
                        e de varias empresas.</br></br>
                        Esta semana é totalmente gratuita para todos os participantes e surgiu pela necessidade de adquirir conhecimentos não abordados no curso.
                        Uma semana organizada de estudantes para estudantes e temos palestras, workshops e outras atividades preparadas para ti.
                            </h5>
                        
                        </div>
                        <div class="col-md-1"></div>


                        <div class="col-md-4">
                            <img src="img/logo_sei.png" style="width:100%"/>
                        </div>
                    </div>










                        
                            </div>
                        </div>
                    </div>
                </div>

        </section>



















</body>
<html>

