<section id="about">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">ABOUT</h1>
    </div>
    <div class="flex-wrapper">
      <div class="col-sm-3 hidden-xs">
        {% image logo_sei.png class:'img-responsive aboutsei-img' %}
      </div>
      <div class="col-sm-9">
        <div class="about-container">
          <div class="about-bracket">
            [
          </div>
          <div class="change-text">
            <span class="about-info active">8 dias de atividades</span>
            <span class="about-info">completamente gratuita</span>
            <span class="about-info">Vários desafios e concursos</span>
            <span class="about-info">Palestras, Workshops e Hackathon</span>
            <span class="about-info">oradores nacionais e internacionais </span>
          </div>
          <div class="about-bracket">
            ]
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
