<section id="about-map">
  <div class="container">
    <div class="col-md-12">
      <div id="icon-map">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 cesium-info">
        <div class="col-md-3">
          <a href="http://www.cesium.di.uminho.pt/" target="_blank"><div id="cesium-circle"> <span id="helper-center"></span><img src="img/logos/cesium-icon-white.png" /></div></a>
        </div>
        <div class="col-md-9">
          <h5>Centro de Estudantes de Engenharia Informática </h5>
          <p class="cesium-location">Universidade do Minho </p>
          <p class="cesium-location">Departamento de Informática, Campus de Gualtar 4710-057 Braga</p>
          <p> <strong>WEB: </strong> <a href="http://www.cesium.di.uminho.pt/" target="_blank">www.cesium.di.uminho.pt</a></p>
          <p> <strong>EMAIL: </strong> <a href="mailto:cesium@di.uminho.pt">cesium@di.uminho.pt </a></p>
          <p> <strong>FACEBOOK: </strong> <a href="http://www.facebook.com/cesiumum" target="_blank">www.facebook.com/cesiumum </a></p>
          <p> <strong>TELEFONE: </strong> 253 604 448 </p>
          <p> A participação na SEI é completamente grátis. É organizada por voluntários do Centro de Estudantes de Engenharia Informática da Universidade do Minho</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 cesium-map">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</section>
