<!-- AboutSei -->
    <section id="aboutsei">
            <div class="container">
                <div class="col-md-12">
                        <div class="col-md-12 title-container">
                            <div class="aboutsei-tittle">O que é a SEI?</div>
                        </div>
                </div>

                <div>
                    <div class="col-md-7">
                        </br></br>
                        <h5 style="color:white; font-weight:bold">Este ano decorre mais uma edição da SEI.
                        Uma semana que junta centenas de estudantes de informatica numa conferencia 
                        que conta com oradores nacionais e internacionais das mais diversas areas informaticas
                        e de varias empresas.</br></br>
                        Esta semana é totalmente gratuita para todos os participantes e surgiu pela necessidade de adquirir conhecimentos não abordados no curso.</br>
                        Uma semana organizada de estudantes para estudantes e temos palestras, workshops e outras atividades preparadas para ti.</h5>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-4">
                        <img src="img/logo_sei.png"/>
                    </div>
                </div>


                        
            </div>
    </section>




