    <!-- speakers Section -->
    <section id="accommodation">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="accommodation-title">Alojamento</div>
            </div>
                <div class="accommodation-list">
                    {% for hotel in site.data.hoteis %}
                    <div class="accommodation-list-cell">
                        <a href="{{ hotel.web }}">
                        <div class="hote-pic">
                            <img style="width:200px;height:200px" src="../{{ hotel.pic }}"/>
                        </div>
                        </a>
                        <span class="hotel-name">{{ hotel.name }}</span>
                        <span class="hotel-contact">{{ hotel.email }}</span>
                        <br>
                        <span class="hotel-contact">{{ hotel.number }}</span>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>