<!-- Challenges Section -->
<section id="activities">
  <div class="container">
    <div class="section-title-container text-left">
      <h1 class="section-title">Atividades</h1>
    </div>
    <!-- Hackathon -->
    <div class="col-md-4">
      <div class="col-md-12 activities-container">

        <i class="fa fa-laptop fa-5x"></i>
        <h1>Hackathon</h1>

        <!-- <p class="activities-description"> Uma Hackathon na área de MedTech de equipas compostas por informáticos e estudantes de saúde. </p> 
        <a href="/hackathon" target="_blank">
          <button class="btn btn-info btn-sei" href="/hackathon" >Hackathon</button>
        </a> -->
      </div>
    </div>
    <!-- Palestras e workshops -->
    <div class="col-md-4">
      <div class="col-md-12 activities-container">

        <i class="fa fa-comments-o fa-5x"></i>
        <h1>Palestras e workshops</h1>
<!--
        <p class="activities-description" >De Virtual Reality a Web Dev passando por Smart Cities, temos assuntos para todos os gostos e níveis de conhecimento.</p>
        <a href="/agenda" target="_blank">
          <button class="btn btn-info btn-sei">Agenda</button>
        </a> -->
      </div>
    </div>
    <!-- Desafios -->
    <div class="col-md-4">
      <div class="col-md-12 activities-container">

        <i class="fa fa-terminal fa-5x"></i>
        <h1>Desafios</h1>
<!--
        <p class="activities-description">Vários desafios decorrem durante a semana como por exemplo segurança e algorítimico.</p>
        <a href="/challenges" target="_blank">
          <button class="btn btn-info btn-sei">Desafios</button>
        </a>
-->   </div>
      </div>
    </div>
  </section>
