
    <!-- Challenges Section -->
    <section id="activities">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="activities-title">Atividades</div>
            </div>
            <!-- Hackathon -->
            <div class="col-md-4">
                <div class="col-md-12 activities-container">

                        <i class="fa fa-laptop fa-5x"></i>
                        <h1>Hackathon</h1>

                        <p class="activities-description">Informática e Medicina juntos numa hackathon que tem tudo para ser espetacular!   </p>

                        <button class="btn btn-info btn-sei" href="{{ site.url }}/heartbits" >Hackathon</button>
                </div>
            </div>
           <!-- Palestras e workshops -->
            <div class="col-md-4">
                <div class="col-md-12 activities-container">

                        <i class="fa fa-comments-o fa-5x"></i>
                        <h1>Palestras e workshops</h1>

                        <p class="activities-description" >Temos uma serie de palestras e workshops preparados para ti durante toda a semana, participa!</p>
                        <button class="btn btn-info btn-sei disabled" tip="Coming Soon!" >Agenda</button>
                </div>
            </div>
           <!-- Desafios -->
            <div class="col-md-4">
                <div class="col-md-12 activities-container">

                        <i class="fa fa-terminal fa-5x"></i>
                        <h1>Desafios</h1>

                        <p class="activities-description">Esta atento durante esta semana e participa nos desafios que temos para ti
                        e habilita te a ganhar premios.</p>
                        <button class="btn btn-info btn-sei disabled" tip="Coming Soon!" >Desafios</button>
                </div>
            </div>
        </div>
    </section>



