<section id="agenda">
  <div class="container">
    <div class="col-md-12">
      <div class="container">
        <div class="col-md-12 title-container">
          <div class="agenda-title">Agenda</div>
        </div>
      </div>

      <div class="Agenda-wrapper">
        {% for day in site.data.agenda %}
        <div class="Agenda-column">
          <h4 class="cal-day AgendaDay"> {{ day.date }}. <br><span>{{ day.dayOfWeek }}</span></h4>
          {% for act in day.activities %}
          <div>
            {% if act.coffee %}
            <img src="../img/coffee-break.png" class="coffee">
            {% endif %}
            {% if act.notfill %}
            <div class="text-left">
              <div class="cal-hour">{{ act.time }}</div>
            </div>
            <div class="AgendaItem hour">
              {{ act.name }}
            </div>
            <div class="Agendaloc">
              {{ act.speaker }}
            </div>
            <div class="Agendatype">
              {{ act.place }}
            </div>
            {% endif %}
            {% if act.fill %}
            <div class="{{act.class }}"></div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}


      </div>
    </div>
  </section>
