<!-- Agenda -->
    <section id="agenda">
            <div class="container">
                <div class="col-md-12">
                    <div class="container">
                        <div class="col-md-12 title-container">
                            <div class="agenda-title">Agenda</div>
                        </div>
                    </div>
                    <!-- DAY -->
                    <div class="Agenda-wrapper">
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">6 FEV. <br><span>S&Aacute;BADO</span></h4>
                        <!-- Filler -->
                        <div class="cal-labels-filler"></div>
                        <div class="cal-two-thirty"></div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">10:00 - 12:00
                            </div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(0)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject"><b>CODERDOJO MINHO</b>
                                </div>
                                <div class="cal-space">DI 0.02</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">SOCIAL
                        </div>
                        <!-- Filler -->
                        <div class="cal-coffee-filler"></div>
                        <div class="cal-one-thirty"></div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 19:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(0)">
                            <div class="cal-event cal-six-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">IMPROVE BRAGA</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">SOCIAL</div>
                    </div>
                    <!-- DAY -->
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">16 FEV.<br><span>SEGUNDA</span></h4>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">9:00 - 10:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(1)">
                            <div class="cal-event cal-two-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">SESS&Atilde;O DE ABERTURA</div>
                                <div class="cal-space">DI 0.02</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">APRESENTAÇ&Atilde;O</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">10:30 - 13:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(1)">
                            <div class="cal-event cal-five-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">ANDROID L</div>
                                <div class="cal-speaker">Rafael D'Escoffier - BloomIdea</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 16:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(1)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">V&Iacute;DEO JOGOS AL&Eacute;M-FRONTEIRAS</div>
                                <div class="cal-speaker">H&eacute;lder Pinto - Blizzard</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">16:30 - 18:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(1)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">MOEDA VIRTUAL</div>
                                <div class="cal-speaker">Nuno Sousa - Bitreserve</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">18:00 - 19:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(1)">
                            <div class="col-md-12 cal-two-thirty cal-event text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">ESPA&Ccedil;O SEEGNO & BITRESERVE</div>
                                <div class="col-md-4 cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">MEET</div>
                    </div>
                    <!-- DAY -->
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">17 FEV.<br><span>TER&ccedil;A</span></h4>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">9:00 - 11:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(2)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">UNITY 3D</div>
                                <div class="cal-speaker">Lu&iacute;s Fonseca</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">11:30 - 13:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(2)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">PRODUCT DEVELOPMENT & AGILE</div>
                                <div class="cal-speaker">Roberto Machado - Group Buddies</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 16:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(2)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">XAMARIN</div>
                                <div class="cal-speaker">Manuel Costa - Storyo</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">16:30 - 18:30</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(2)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">THE METEOR SHOWER, FROM PROTOTYPE TO PRODUCTION</div>
                                <div class="cal-speaker">Gabriel Po&ccedil;a - Group Buddies</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                    </div>
                    <!-- DAY -->
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">18 FEV.<br><span>QUARTA</span></h4>
                        <!-- Filler -->
                            <div class="cal-labels-filler"></div>
                            <div class="cal-six-thirty"></div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">10:30 - 13:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(3)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">API DRIVEN DEVELOPMENT</div>
                                <div class="cal-speaker">Rui Marinho - Seegno</div>
                                <div class="cal-space">DI A2 </div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 16:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(3)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">REUNI&Atilde;O GERAL</div>
                                <div class="cal-speaker">Alunos de Eng. Inform&aacute;tica</div>
                                <div class="cal-space">CP1 A4</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">DISCUSS&Atilde;O</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">16:30 - 19:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(3)">
                            <div class="cal-event cal-five-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">CORRIDA SOCIAL</div>
                                <div class="cal-space">Gualtar</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">SOCIAL</div>
                <!-- Event -->
                <div class="text-left">
                    <div class="cal-hour">21:30 - 00:00</div>
                </div>
                <a class="page-scroll" href="#events" ng-click="eventGoto(3)">
                    <div class="cal-event cal-five-thirty text-left">
                        <div class="cal-block"></div>
                        <div class="cal-subject">RALLY DAS TASCAS</div>
                        <div class="cal-speaker">Comissão de Festas</div>
                        <div class="cal-space">LARGO DO CARPE</div>
                    </div>
                </a>
                <div class="cal-label text-right">LOUNGE</div>
            </div>
            <br>
                <div class="col-md-12">
                    <!-- DAY -->
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">19 FEV.<br><span>QUINTA</span></h4>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">9:00 - 11:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">INTRODU&Ccedil;&Atilde;O A SWIFT</div>
                                <div class="cal-speaker">Paulo Vieira - iMobileMagic</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">11:30 - 13:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">DEVOPS</div>
                                <div class="cal-speaker">Nuno Fernandes - Eurotux</div>
                                <div class="cal-space">DI A2 </div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 15:30</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">MODELA&Ccedil;&Atilde;O 3D</div>
                                <div class="cal-speaker">Francisco Mendes - BeeVeryCreative</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">15:30 - 16:30</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-two-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">IMPRESS&Atilde;O 3D</div>
                                <div class="cal-speaker">Francisco Mendes - BeeVeryCreative</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">16:30 - 18:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">BEHAVIOUR DRIVEN DEVELOPMENT</div>
                                <div class="cal-speaker">Rui Figueira - VILT</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">18:00 - 19:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="col-md-12 cal-two-thirty cal-event text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">ESPA&Ccedil;O VILT</div>
                                <div class="col-md-4 cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">MEET</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">19:30 - 21:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">ARRAIAL DAS ENGENHARIAS</div>
                                <div class="cal-space">LARGO DO CARPE</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">LOUNGE</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">21:00 - 00:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(4)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">QUIZ SHOW</div>
                                <div class="cal-space">LARGO DO CARPE</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">LOUNGE</div>
                    </div>
                    <!-- DAY -->
                    <div class="col-md-3 text-center AgendaDay">
                        <h4 class="cal-day">20 FEV.<br><span>SEXTA</span></h4>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">9:00 - 11:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">HTML5 & CSS3: From Basics to Magic Tricks</div>
                                <div class="cal-speaker">Jo&atilde;o Justo - Group Buddies</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" />
                        </div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">11:30 - 13:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">USER EXPERIENCE</div>
                                <div class="cal-speaker">Norberto Henriques - WeDo</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">PALESTRA</div>
                        <!-- Lunch -->
                        <h5 class="cal-lunch">
                            <span>ALMO&Ccedil;O</span>
                        </h5>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">14:00 - 16:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-four-thirty text-left AgendaItem">
                                <div class="cal-block"></div>
                                <div class="cal-subject">PYTHON + WEB2PY</div>
                                <div class="cal-speaker">Francisco Costa</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Break -->
                        <div id="cal-coffee"><img src="img/coffee-break.png" /></div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">16:30 - 18:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-three-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">SAIBA MAIS SOBRE DRONES</div>
                                <div class="cal-speaker">Rui Antunes - FPV</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">18:00 - 19:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-two-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">ARDUINO</div>
                                <div class="cal-speaker">InMotion</div>
                                <div class="cal-space">DI A2</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">WORKSHOP</div>
                        <!-- Event -->
                        <div class="text-left">
                            <div class="cal-hour">21:00 - 00:00</div>
                        </div>
                        <a class="page-scroll" href="#events" ng-click="eventGoto(5)">
                            <div class="cal-event cal-six-thirty text-left">
                                <div class="cal-block"></div>
                                <div class="cal-subject">JANTAR DE ENCERRAMENTO</div>
                                <div class="cal-space">PANOR&Acirc;MICO</div>
                            </div>
                        </a>
                        <div class="cal-label text-right">LOUNGE</div>
                    </div>
                    <!-- DAY -->
                    <div class="col-md-6 text-center AgendaDay">
                        <h4 class="cal-day">21 FEV.<br><span>S&aacute;BADO</span></h4>
                        <div class="col-md-6 cal-parallel-left">
                            <!-- Filler -->
                            <div class="cal-labels-filler"></div>
                            <div class="cal-one-thirty"></div>
                            <div class="cal-coffee-filler"></div>
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">10:00 - 13:00</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-onclick="eventGoto(6)">
                                <div class="cal-event cal-six-thirty text-left">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">HACKATHON BITRESERVE</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                        </div>
                        <div class="col-md-6 cal-parallel-right">
                            <!-- Filler -->
                            <div class="cal-labels-filler"></div>
                            <div class="cal-coffee-filler"></div>
                            <div class="cal-three-thirty"></div>
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">11:00 - 12:30</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-click="eventGoto(6)">
                                <div class="cal-event cal-three-thirty text-left">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">RUST</div>
                                    <div class="cal-speaker">Miguel Palhas - Group Buddies </div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">PALESTRA</div>
                        </div>
                        <!-- Lunch -->
                        <div class="col-md-12">
                            <h5 class="cal-lunch">
                                <span>ALMO&Ccedil;O</span>
                            </h5>
                        </div>
                        <div class="col-md-6 cal-parallel-left">
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">14:00 - 19:00</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-onclick="eventGoto(6)">
                                <div class="cal-event cal-ten-thirty text-left">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">HACKATHON BITRESERVE</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                        </div>
                        <div class="col-md-6 cal-parallel-right">
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">14:00 - 16:00</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-click="eventGoto(6)">
                                <div class="cal-event cal-four-thirty text-left AgendaItem">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">STARTUP EXPERIENCE</div>
                                    <div class="cal-speaker">Startup Braga</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                            <!-- Filler -->
                            <div class="cal-labels-filler"></div>
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">16:30 - 18:00</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-click="eventGoto(6)">
                                <div class="cal-event cal-three-thirty text-left">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">TIME TRIAL TALKS</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">18:00 - 19:30</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-click="eventGoto(6)">
                                <div class="cal-event cal-three-thirty text-left">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">PRESENTATION KARAOKE</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                        </div>
                        <div class="col-md-12">
                            <!-- Dinner -->
                            <h5 class="cal-lunch">
                                <span>JANTAR</span>
                            </h5>
                        </div>
                        <div class="col-md-6 cal-parallel-left">
                            <!-- Event -->
                            <div class="text-left">
                                <div class="cal-hour">20:00 - 22:00</div>
                            </div>
                            <a class="page-scroll" href="#events" ng-onclick="eventGoto(6)">
                                <div class="cal-event cal-four-thirty text-left AgendaItem">
                                    <div class="cal-block"></div>
                                    <div class="cal-subject">HACKATHON BITRESERVE</div>
                                    <div class="cal-space">DI A2</div>
                                </div>
                            </a>
                            <div class="cal-label text-right">CONCURSO</div>
                        </div>
                </div>
            </div>
        </div>
        </section>