<section id="bronze">
  <div class="container">

    <div class="section-title-container">
      <h1 class="section-title">Bronze Sponsors</h1>
    </div>

    <div class="flex-wrapper">
      <div class="partner-img">
        <a target="_blank" href="http://bloomidea.com/"> {% image 'sponsors/bloomidea.png'  class:'img-responsive center-block bronze' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://eurotux.com/"> {% image 'sponsors/eurotux.png' class:'img-responsive center-block bronze' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://seegno.com/"> {% image 'sponsors/seegno.png' class:'img-responsive center-block bronze' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.faber-ventures.com/"> {% image 'sponsors/faberventure.png' class:'img-responsive center-block bronze' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.itgrow.pt/pt/inicio"> {% image 'sponsors/itgrow.png' class:'img-responsive center-block bronze' %} </a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.criticalsoftware.com/pt/homepage"> {% image 'sponsors/critical.png' class:'img-responsive center-block bronze' id:'critical' %}</a>
      </div>
    </div>

  </div>
</section>
