<section id="bronze">
    <div class="container">

        <div class="section-title-container">
            <h1 class="section-title">Bronze Sponsors</h1>
        </div>

        <div class="row">
            <div class="col-md-6 wide-logo vcenter">
                <a target="_blank" href="https://www.checkmarx.com"> {% image 'sponsors/checkmarx.png'  class:'img-responsive center-block bronze' %} </a>
            </div>
            <div class="col-md-6 wide-logo vcenter">
                <a target="_blank" href="https://seegno.com"> {% image 'sponsors/seegno.png'  class:'img-responsive center-block bronze' %} </a>
            </div>
        </div>
    </div>
</section>
