<div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>BRONZE SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://bloomidea.com/"><img src="img/sponsors/bloomidea.png"  class="img-responsive center-block bronze" alt="BloomIdea"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://eurotux.com/"><img src="img/sponsors/eurotux.png" class="img-responsive center-block bronze"
                    alt="Eurotux" ></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://seegno.com/"><img src="img/sponsors/seegno.png"
                    class="img-responsive center-block bronze" alt="Seegno"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.faber-ventures.com/"><img src="img/sponsors/faberventur.png" class="img-responsive center-block bronze" 
                    alt="Faber Ventures" ></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.itgrow.pt/pt/inicio"><img src="img/sponsors/itgrow.png" class="img-responsive center-block bronze"
                    alt="It Grow"></a>
                </div>
                <div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.criticalsoftware.com/pt/homepage"><img src="img/sponsors/critical.png" alt="Blip web engineers" class="img-responsive center-block bronze" id="critical"></a>
                </div>
            </div>