<!-- MAIN PARTNERS -->
<div class="col-md-12">

  <h4 class="col-md-4 center-no-float partners-header">
    <span>BRONZE SPONSORS</span>
  </h4>
</div>
<div class="sponsor-wrapper">
  <div class="partner-img">
    <a target="_blank" href="http://bloomidea.com/"><img src="img/sponsors/bloomidea.png"  class="img-responsive center-block" alt="BloomIdea" style="height:auto;width:200px"></a>
  </div>
  <div class="partner-img">
    <a target="_blank" href="http://eurotux.com/"><img src="img/sponsors/eurotux.png" class="img-responsive center-block"
      alt="Eurotux" style="height:auto;width:200px"></a>
    </div>
    <div class="partner-img">
      <a target="_blank" href="http://seegno.com/"><img src="img/sponsors/seegno.png" height="1617" width="4400" class="img-responsive center-block" alt="Seegno" style="height:auto;width:200px"></a>
    </div>
    <div class="partner-img">
      <a target="_blank" href="http://www.faber-ventures.com/"><img src="img/sponsors/faberventur.png" height="526" width="568" class="img-responsive center-block" style="height:auto;width:200px"
        alt="Faber Ventures" ></a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.itgrow.pt/pt/inicio"><img src="img/sponsors/itgrow.png" height="185" width="1290" class="img-responsive center-block" style="height:auto;width:200px"
          alt="It Grow"></a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="http://www.criticalsoftware.com/pt/homepage"><img src="img/sponsors/critical.png" alt="Blip web engineers" class="img-responsive center-block bronze" id="critical"></a>
        </div>
      </div>
