<section id="contacts">
  <div class="container">
    <div class="col-xs-12">
      <a href="http://www.cesium.di.uminho.pt/" target="_blank">
        <div id="cesium-circle">
          {% image logos/cesium-icon-white.png id:'logo' %}
        </div>
      </a>
    </div>

      <div class="col-xs-12 cesium-info">
          <h5>Centro de Estudantes de Engenharia Informática </h5>
          <p> <strong>E-MAIL: </strong> <a href="mailto:cesium@di.uminho.pt">cesium@di.uminho.pt </a></p>
          <p> <strong>TELEFONE: </strong> +351 253 604 448 </p>
          <p> A SEI é gratuita para os participantes, sendo organizada por voluntários do CeSIUM. </p>
      </div>

      <iframe class="center-block" id="google-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJL4bubp3-JA0RIa4y7zUxqng&key=AIzaSyDh4ixf3YXb8V63gppWG_jsyy6xguk9UbQ" allowfullscreen></iframe>

    </div>
</section>
