<footer id="about">
        <div class="container">
            <div class="col-md-6 text-left about-text">
                
                
            </div>
           <div class="col-md-12"> 
            <p>Made with ❤ by <a href="http://cesium.di.uminho.pt" target="_blank">CeSIUM</a>. Hosted on <a href="http://github.com/cesium/sei16-website" target="_blank">GitHub</a></p>
        </div>
    </div>
        <div class="col-md-12" >
    <div class="col-md-1 col-md-offset-4" style="color:black"><a href=""><i class="fa fa-users fa-2x"></i></a></div>
    <div class="col-md-1"><a href="http://www.github.com/cesium"><i class="fa fa-github fa-2x"></i></a></div>
    <div class="col-md-1"><a href="https://twitter.com/cesiuminho"><i class="fa fa-twitter fa-2x"></i></a></div>
    <div class="col-md-1"><a href="http://www.facebook.com/cesiuminho"><i class="fa fa-facebook fa-2x"></i></a></div>
        </div>
        
    </footer>