<footer id="about">
        <div class="container">
            <div class="col-md-6 text-left about-text">
                <h4>SOBRE N&Oacute;S</h4>
                <p> O CeSIUM - Centro de Estudantes de Engenharia Inform&aacutetica da Universidade do Minho – &eacute um grupo de estudantes, volunt&aacuterios, que tem como objectivo representar e promover o curso.</p>
                <h4>ÚLTIMAS FOTOS</h4>
                <!-- FACEBOOK -->
                <iframe scrolling="no" marginheight="0" style="height: 361px;" src="http://facebookgalleria.com/gallery.php?id=SEI.UMinho&display=uploaded_photos&rows=2&margin=10&cols=3&width=170&font_size=11&title_color=000&hide_next_back=0&shape=square&frame=0" frameborder="0" width="100%"></iframe>
            </div>
            <!-- TWITTER -->
            <div class="col-md-6 text-left">
                <h4>TWITTER</h4>
                <div class="media">
                    <a class="twitter-timeline" href="https://twitter.com/cesiuminho" data-widget-id="559868374789156864" data-tweet-limit="3" data-chrome="noscrollbar noheader nofooter noborders transparent" data-theme="dark" data-link-color="#227FF0">
                    Tweets by @cesiuminho</a>
                    <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
            <p>Made with ❤ by <a href="http://cesium.di.uminho.pt" target="_blank">CeSIUM</a>. Hosted on <a href="http://github.com/cesium/SEI15" target="_blank">GitHub</a></p>
        </div>
    </footer>