    <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>GOLD SPONSOR</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">

                <div class="col-md-4 partner-img">
                    <a target="_blank" href="https://subvisual.co/"><img src="img/sponsors/subvisual.png" class="gold img-responsive center-block"
                    alt="SubVisual"></a>
                </div>

            </div>