<header id="home">
  <div id="ohsnap"><a href="http://seium.eventbrite.pt/" target="_blank"></a></div>
  <div class="container">

    <div class="row banner">
      <div class="col-xs-6 banner-image">
        {% image mascot.png class:'img-responsive' %}
      </div>
      <div class="col-xs-6 banner-text">
        <div class="col-md-10 banner-date-locale">
          <div class="banner-date">4 a 11 Fevereiro</div>
          <div class="banner-locale">Universidade do Minho - CP2 B2</div>
        </div>
        <div class="col-md-10">
          <span class="banner-title">Semana da Engenharia Informática</span>
        </div>
        <div class="col-md-10 banner-sponsors">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">Organização</div>
            <br>
            <div class="col-md-4 col-sm-4 col-xs-4 banner-logos">
              <a href="http://www.cesium.di.uminho.pt/" target="_blank">{% image 'logos/cesium.png' class:'img-responsive' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
