<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" id="nav-logo">
        {% image nav-logo.png %}
        <div>
          <span>
            SEMANA DA<br>
            ENGENHARIA INFORMÁTICA<br>
            <strong>UNIVERSIDADE DO MINHO<br>
              2016</strong>
            </span>
          </div>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav nav-item">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="/agenda">Agenda</a>
          </li>
          <li>
            <a class="page-scroll" href="/speakers">Oradores</a>
          </li>
          <li>
            <a class="page-scroll" href="/heartbits">Hackathon</a>
          </li>
          <li>
            <a class="page-scroll" href="/challenges">Desafios</a>
          </li>
          <li>
            <a class="page-scroll" href="/accommodation">Alojamento</a>
          </li>
          <li>
            <a class="page-scroll" href="http://intra.seium.org" target="_blank">IntraNet</a>
          </li>
          <li>
            <a class="page-scroll" href="http://seium16.eventbrite.pt/" target="_blank">Inscrições</a>
          </li>
        </ul>
      </div>
  </nav>
