    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ site.url }}/#page-top" id="nav-logo">
                    <img src="{{ site.baseurl}}/img/nav-logo.png" />
                    <div>
                        <span>
                            SEMANA DA<br>
                            ENGENHARIA INFORMÁTICA<br>
                            <strong>UNIVERSIDADE DO MINHO<br>
                            2015</strong>
                        </span>
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav nav-item">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/#aboutsei">About</a>
                    </li> 
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/#activities">Atividades</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/#speakers">Oradores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/#partners">Parceiros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/cenas">Equipa</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/intranet">Intranet</a>
                    </li>
                    

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
