    <!-- Organization Section -->
    <section id="organization" ng-controller="organizationCtrl">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12  title-container">
                <div class="organization-title">Organização</div>
            </div>
            <ul rn-carousel rn-carousel-index="carouselOrganization" rn-carousel-controls class="carousel1 organization-carousel col-md-9  col-sm-12  col-xs-12 ">
                <li ng-repeat="staffs in staffSlides">
                    <div ng-repeat="staff in staffs" class="col-md-2  col-sm-2 col-xs-3 staff">
                        <!-- ng-style="{'background-image': 'url(' + staff.pic + ')' }" -->
                        <div class="staff-info-container" style="background-image: url( {{ staff.pic }} )">
                            <div class="staff-info">
                                <span class="col-md-12 col-sm-12 col-xs-12  staff-name">{{ staff.name }}</span>
                                <span class="col-md-12 col-sm-12 col-xs-12  staff-position">{{ staff.position }}</span>
                                <!--<div class="col-md-12 col-sm-12 col-xs-12 staff-social">-->
                                    <ul class="list-inline social-buttons">
                                        <li ng-if="staff.facebook">
                                            <a ng-href="{{ staff.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li ng-if="staff.twitter ">
                                            <a ng-href="{{ staff.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li ng-if="staff.github">
                                            <a ng-href="{{ staff.github }}" target="_blank"><i class="fa fa-github"></i></a>
                                        </li>
                                        <li ng-if="staff.linkedin">
                                            <a ng-href="{{ staff.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div rn-carousel-indicators class="organization-indicators" ng-if="staffSlides.length > 1" slides="staffSlides" rn-carousel-index="carouselOrganization"></div>
        </div>
    </section>