<section id="partners">
  <div class="container">

    <div class="section-title-container">
      <h1 class="section-title">Parceiros</h1>
    </div>
  <!--  <h4 class="col-md-3 center-no-float partners-header">
      <span>PARTNERS</span>
  </h4>-->
    <div class="col-md-offset-3 col-md-6 partners-carousel">
      <div class="wide-logo">
          <a target="_blank" href="https://github.com">{% image sponsors/github.png class:'center-block img-responsive partner' alt:'GitHub-logo'%}</a>
      </div>
      <div class="narrow-logo">
          <a target="_blank" href="http://www.deltacafes.pt">{% image sponsors/delta.png class:'center-block img-responsive partner' alt:'Delta-logo'%}</a>
      </div>
      <div class="wide-logo">
        <a target="_blank" href="http://www.investbraga.com/startup/">{% image sponsors/startupbraga.png class:'center-block img-responsive partner' alt:'Startup-Braga-logo'%}</a>
      </div>
      <div class="narrow-logo">
        <a target="_blank" href="http://www.tub.pt">{% image sponsors/tub.png class:'center-block img-responsive partner' alt:'TUB-logo'%}</a>
      </div>
      <div class="wide-logo">
          <a target="_blank" href="http://hackathonners.org">{% image sponsors/hackathonners.png class:'center-block img-responsive partner' alt:'Hackathonners-logo'%}</a>
      </div>
      <div class="wide-logo">
        <a target="_blank" href="http://www.allkits.pt">{% image sponsors/allkits.png class:'center-block img-responsive partner' alt:'allkits-logo'%}</a>
      </div>
      <div class="wide-logo">
        <a target="_blank" href="https://www.microsoft.com/pt-pt/">{% image sponsors/microsoft.png class:'center-block img-responsive partner' alt:'microsoft-logo'%}</a>
      </div>
      <div class="wide-logo">
        <a target="_blank" href="http://www.cervejaletra.pt/">{% image sponsors/letra-logo.png class:'center-block img-responsive partner' alt:'letra-logo'%}</a>
      </div>
    </div>
  <!--  <div class="col-md-12">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>PARTNERS</span>
      </h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-offset-3 col-md-6 partners-carousel">
        <div class="partner-img">
          <a target="_blank" href="https://github.com">{% image sponsors/github.png class:'center-block img-responsive partner' alt:'GitHub' %}</a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="https://github.com">{% image sponsors/github.png class:'center-block img-responsive partner' alt:'GitHub' %}</a>
        </div>
      </div>
    </div>
  -->
  </div>
</section>
