<section id="partners">
  <div class="container">

    <div class="col-md-12 title-container">
      <div class="partners-title">Parceiros</div>
    </div>

    <h4 class="col-md-3 center-no-float partners-header">
      <span>MAIN PARTNERS</span>
    </h4>

    <div class="col-md-offset-3 col-md-6 partners-carousel">
      <div class="partner-img">
        <a target="_blank" href="http://www.plux.info/index.php/en/">{% image sponsors/plux.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.bitalino.com/">{% image sponsors/bitalino.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://nutrium.io/">{% image sponsors/nutrium.svg class:'svg main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.investbraga.com/startup/">{% image sponsors/startupbraga.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://gcontrolgames.com/">{% image sponsors/groundcontrol.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.ubiwhere.com/en/">{% image sponsors/ubiwhere.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.imobilemagic.com">{% image sponsors/imobilemagic.png class:'main-partner center-block img-responsive' %}</a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.imobilemagic.com"><img src="img/sponsors/imobilemagic.png" class="main-partner center-block img-responsive " alt="imobilemagic"></a>
      </div>
    </div>

    <div class="col-md-12">
      <h4 class="col-md-3 center-no-float partners-header">
        <span> PARTNERS</span>
      </h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-offset-3 col-md-6 partners-carousel">
        <div class="partner-img">
          <a target="_blank" href="https://subvisual.co/">{% image sponsors/comissao.png class:'center-block img-responsive partner' alt:'Comissão de Festas de Engenharia Informática' %}</a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="http://www.nuguelmusic.pt/">{% image sponsors/nuguelmusic.png class:'center-block img-responsive partner' alt:'Nuguel Music' %}</a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/tasquinhabracarensepagina">{% image sponsors/tasquinha-bracarense.png class:'center-block img-responsive partner' %}</a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="http://www.allkits.pt/">{% image sponsors/allkits.png class:'center-block img-responsive partner' %}</a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="http://www.cervejaletra.pt/">{% image sponsors/letra.png class:'center-block img-responsive partner' %}</a>
        </div>
      </div>

    </div>
  </div>
</section>
