<section id="partners">
  <div class="container">

    <div class="col-md-12 title-container">
      <div class="partners-title">Parceiros</div>
    </div>

    <h4 class="col-md-3 center-no-float partners-header">
      <span>MAIN PARTNERS</span>
    </h4>

    <div class="col-md-offset-3 col-md-6 partners-carousel">
      <div class="partner-img">
        <a target="_blank" href="http://www.plux.info/index.php/en/"><img src="img/sponsors/plux.png" class="main-partner center-block img-responsive " alt="Plux"></a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.bitalino.com/"><img src="img/sponsors/bitalino.png" class="main-partner center-block img-responsive " alt="Bitalino"></a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://nutrium.io/"><img src="img/sponsors/nutrium.svg" class="svg main-partner center-block img-responsive " alt="Nutrium"></a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://www.investbraga.com/startup/"><img src="img/sponsors/startupbraga.png" class="main-partner center-block img-responsive " alt="Startup Braga"></a>
      </div>
      <div class="partner-img">
        <a target="_blank" href="http://gcontrolgames.com/"><img src="img/sponsors/groundcontrol.png" class="main-partner center-block img-responsive " alt="Ground Control Studios"></a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.ubiwhere.com/en/"><img src="img/sponsors/ubiwhere.png" class="main-partner center-block img-responsive " alt="Ubiwhere"></a>
      </div>
    </div>

    <div class="col-md-12">
      <h4 class="col-md-3 center-no-float partners-header">
        <span> PARTNERS</span>
      </h4>
    </div>

    <div class="col-md-12">
      <div class="col-md-offset-3 col-md-6 partners-carousel">
        <div class="partner-img">
          <a target="_blank" href="https://subvisual.co/"><img src="img/sponsors/comissao.png" class="partner img-responsive center-block" alt="Comissão de Festas de Engenharia Informática"></a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="http://www.redbull.com/pt/pt"><img src="img/sponsors/red-bull.png" class="img-responsive center-block" alt="Red Bull"></a>
        </div>
        <div class="partner-img">
          <a target="_blank" href="https://www.facebook.com/tasquinhabracarensepagina"><img src="img/sponsors/tasquinha-bracarense.png" class="img-responsive center-block" alt="Tasquinha Bracarense"></a>
        </div>
      </div>

    </div>
  </div>
</section>
