    <!-- speakers Section -->
    <section id="aboutspeakers" controller="speakerCtrl">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="speakers-title">Sabado</div>
            </div>
                
                    {% for act in site.data.sabado1 %}
                    <div class="col-md-12 speak-list">
                    <div repeat="speaker in speakers" class="col-md-3">
                        <div class="speaker-img" style="border-radious:50%">
                            <img style="max-width:100%;max-height:100%" src="../{{ act.pic }}"/>
                        </div>
                        <span class="speaker-name">{{ act.name }}</span>
                        
                    </div>
                    <div class="col-md-7">
                        <span class="aboutspeaker">{{ act.def }}</span>
                    </div>
                </div>
                {% endfor %}

        </div>
    </section>