<!-- jQuery -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/lib.min.js"></script>
<script src="/js/lib/ohsnap.js"></script>

{% if page.url == '/' %}
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/js/map.js"></script>
{% endif %}

<!-- Slick -->
<script src="/js/lib/slick.js"></script>

<!-- Custom -->
<script src="/js/nav-var.js"></script>
<script src="/js/sei.js"></script>
{{ page.path }}
<script src="/js/carousel.js"></script>
<script src="/js/about-text.js"></script>
{% if page.url == '/heartbits/' %}
<script src="/js/countdown.js"></script>
{% endif %}
