<!-- jQuery -->
<script src="{{ site.baseurl }}/js/lib/jquery.js"></script>
<script src="{{ site.baseurl }}/js/lib/lib.min.js"></script>
<script src="{{ site.baseurl }}/js/lib/ohsnap.js"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="{{ site.baseurl }}/js/map.js"></script>

<!-- Slick -->
<script src="{{ site.baseurl }}/js/lib/slick.js"></script>

<!-- Custom -->
<script src="{{ site.baseurl }}/js/nav-var.js"></script>
<script src="{{ site.baseurl }}/js/sei.js"></script>
<script src="{{ site.baseurl }}/js/countdown.js"></script>
<script src="{{ site.baseurl }}/js/carousel.js"></script>
