    <!-- speakers Section -->
    <section id="aboutspeakers" controller="speakerCtrl">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="speakers-title">Segunda</div>
            </div>


        {% for act in site.data.segunda %}
        {% if act.notfill %}

        <div class="container">

                    <div class="col-md-12 speak-list">

                    
                    <div repeat="speaker in speakers" class="col-md-3 col-md-offset-1">
                        <div class="speaker-img" style="border-radious:50%">
                            <img style="max-width:100%;max-height:100%" src="../img/speakers/mike.jpg"/>
                        </div>
                        <span class="speaker-name">{{ act.name }}</span></br>
                        <span class="speaker-position">{{ act.speaker }}</span>
                        
                        
                        
                    </div>
                    <div class="col-md-6">
                        <span class="aboutspeaker">{{ act.text }}</span>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
        </div>
    </div>
    </section>