<section id="silver">
    <div class="container ">

        <div class="section-title-container">
          <h1 class="section-title">Silver Sponsor</h1>
        </div>

        <div class="row">
                <div class="col-md-4 wide-logo vcenter">
                    <a target="_blank" href="http://www.blip.pt"> {% image sponsors/blip.png class:'hcenter img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 wide-logo vcenter">
                    <a target="_blank" href="https://eurotux.com"> {% image sponsors/eurotux.png class:'hcenter img-responsive' %} </a>
                </div><!--
             --><div class="col-md-4 narrow-logo vcenter">
                    <a target="_blank" href="http://www.sonae.com/home/"> {% image sponsors/bit.png class:'hcenter img-responsive' %} </a>
                </div><!--
             -->
        </div>
        <div class="row">
            <div class="col-md-6 wide-logo vcenter">
                <a target="_blank" href="https://www.farfetch.com"> {% image sponsors/farfetch.png class:'hcenter img-responsive' %} </a>
            </div>
            <div class="col-md-6 wide-logo vcenter">
                <a target="_blank" href="http://www.alticelabs.com/pt"> {% image sponsors/altice.png class:'hcenter img-responsive' %} </a>
            </div>
        </div>
    </div>
</section>
