<section id="silver">
  <div class="container">

    <div class="col-md-12 title-container">
      <div class="partners-title">Silver Sponsors</div>
    </div>

    <div class="flex-wrapper">
      <div class="partner-img">
        <a target="_blank" href="http://www.blip.pt/eula"><img src="img/sponsors/blip.png" alt="Blip web engineers" class="img-responsive center-block silver"></a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.farfetch.com/pt/"><img src="img/sponsors/farfetch.png" alt="Farfetch" class="img-responsive center-block silver"></a>
      </div>

      <div class="partner-img">
        <a target="_blank" href="http://www.outsystems.com/"><img src="img/sponsors/outsystems.png" alt="Critical Software" class="img-responsive center-block silver"></a>
      </div>
    </div>

  </div>
</section>
