            <!-- Partners -->
    <section id="partners">
        <div class="container text-center">
            <div class="col-md-12 title-container">
                <div class="partners-title">Parceiros</div>
            </div>
            <!-- MAIN SPONSORS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>GOLD SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">

                <div class="col-md-4 partner-img">
                    <a target="_blank" href="https://bitreserve.org"><img src="img/sponsors/subvisual.png" style="height:120px;width:auto" class="img-responsive center-block"
                    alt="Bitreserve"></a>
                </div>

            </div>
            <!-- SPONSORS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span> SILVER SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.wedotechnologies.com/pt/"><img src="img/sponsors/blip.png" height="152" width="316" alt="WeDo Technologies" class="img-responsive center-block"></a>
                </div><!--
             --><div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.imobilemagic.com"><img src="img/logos/partner-imobilemagic.png" height="138" width="507" alt="imobilemagic" class="img-responsive center-block"></a>
                </div><!--
                --><div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.imobilemagic.com"><img src="img/logos/partner-imobilemagic.png" height="138" width="507" alt="imobilemagic" class="img-responsive center-block"></a>
                </div>
            </div>
            <!-- MAIN PARTNERS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>BRONZE SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.microsoft.com"><img src="img/sponsors/bloomidea.png"  class="img-responsive center-block" alt="BloomIdea"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.groupbuddies.com/"><img src="img/sponsors/eurotux.png" class="img-responsive center-block"
                    alt="Group Buddies" style="width: 45%; height: 45%;"></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.microsoft.com"><img src="img/sponsors/seegno.png" height="1617" width="4400" class="img-responsive center-block" alt="Microsoft"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.groupbuddies.com/"><img src="img/logos/partner-gb.png" height="526" width="568" class="img-responsive center-block"
                    alt="Group Buddies" style="width: 45%; height: 45%;"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.keep.pt/"><img src="img/logos/partner-keep.png" height="185" width="1290" class="img-responsive center-block"
                    alt="Keep Solutions"></a>
                </div>
            </div>
            <!-- PARTNERS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>PARTNERS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/tasquinhabracarensepagina"><img src="img/sponsors/plux.png" height="1655" width="4851" class="img-responsive center-block"
                    alt="Tasquinha Bracarense"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/multicris"><img src="img/sponsors/startupbraga.png" height="1029" width="2048" class="img-responsive center-block"
                    alt="Multicris"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/festaslei"><img src="img/logos/comissao_festas.png" height="720" width="1206" class="img-responsive center-block"
                    alt="Comissão de Festas de LEI"></a>
                </div>

                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/festaslei"><img src="img/logos/comissao_festas.png" height="720" width="1206" class="img-responsive center-block"
                    alt="Comissão de Festas de LEI"></a>
                </div>

                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/festaslei"><img src="img/logos/comissao_festas.png" height="720" width="1206" class="img-responsive center-block"
                    alt="Comissão de Festas de LEI"></a>
                </div>

                <div class="col-md-2 partner-img">
                    <a target="_blank" href="https://www.facebook.com/festaslei"><img src="img/logos/comissao_festas.png" height="720" width="1206" class="img-responsive center-block"
                    alt="Comissão de Festas de LEI"></a>
                </div>
            </div>
    </section>