            <!-- Partners -->
    <section id="partners">
        <div class="container text-center">
            <div class="col-md-12 title-container">
                <div class="partners-title">Parceiros</div>
            </div>
            <!-- PARTNERS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span> MAIN PARTNERS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://www.plux.info/index.php/en/"><img src="img/sponsors/plux.png" class="main-partner img-responsive center-block"
                    alt="Plux"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://www.bitalino.com/"><img src="img/sponsors/bitalino.png" class="main-partner img-responsive center-block"
                    alt="Bitalino"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://nutrium.io/"><img src="img/sponsors/nutrium.png" class="main-partner img-responsive center-block"
                    alt="Ubiwhere"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://www.investbraga.com/startup/"><img src="img/sponsors/startupbraga.png" class="main-partner img-responsive center-block"
                    alt="Start Up Braga"></a>
                </div>
                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://gcontrolgames.com/"><img src="img/sponsors/groundcontrol.png" class="main-partner img-responsive center-block"
                    alt="Ground Control Studios"></a>
                </div>

                <div class="col-md-2 partner-img">
                    <a target="_blank" href="http://www.ubiwhere.com/en/"><img src="img/sponsors/ubiwhere.png" class="main-partner img-responsive center-block"
                    alt="Ubiwhere"></a>
                </div>   
            </div>
            <!-- MAIN SPONSORS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span> PARTNERS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">

                <div class="col-md-4 partner-img">
                    <a target="_blank" href="https://subvisual.co/"><img src="img/sponsors/comissao.png" class="partner img-responsive center-block"
                    alt="Comissão de Festas de Engenharia Informática"></a>
                </div>

            </div>
    </section>