            <!-- Partners -->
    <section id="partners">
        <div class="container text-center">
            <div class="col-md-12 title-container">
                <div class="partners-title">Parceiros</div>
            </div>
            <!-- MAIN SPONSORS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>MAIN SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://bloomidea.com/"><img src="img/logos/partner-bloom.png" height="244" width="558" class="img-responsive center-block" alt="Bloom Idea"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://eurotux.com/"><img src="img/logos/partner-eurotux.png" height="76" width="229" class="img-responsive center-block"
                    alt="Eurotux"></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.vilt-group.com/"><img src="img/logos/partner-vilt.png" height="231" width="1052" class="img-responsive center-block"
                    alt="VILT"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="https://bitreserve.org"><img src="img/logos/partner-bitreserve.png" height="87" width="365" class="img-responsive center-block"
                    alt="Bitreserve"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://seegno.com"><img src="img/logos/partner-seegno.png" height="167" width="522" class="img-responsive center-block"
                    alt="Seegno"></a>
                </div>
            </div>
            <!-- SPONSORS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>SPONSORS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.wedotechnologies.com/pt/"><img src="img/logos/partner-wedo.png" height="152" width="316" alt="WeDo Technologies" class="img-responsive center-block"></a>
                </div><!--
             --><div class="col-md-4 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.imobilemagic.com"><img src="img/logos/partner-imobilemagic.png" height="138" width="507" alt="imobilemagic" class="img-responsive center-block"></a>
                </div>
            </div>
            <!-- MAIN PARTNERS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>MAIN PARTNERS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.microsoft.com"><img src="img/logos/partner-microsoft.png" height="1617" width="4400" class="img-responsive center-block" alt="Microsoft"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.groupbuddies.com/"><img src="img/logos/partner-gb.png" height="526" width="568" class="img-responsive center-block"
                    alt="Group Buddies" style="width: 45%; height: 45%;"></a>
                </div><!--
             --><div class="col-md-4 partner-img">
                    <a target="_blank" href="http://www.keep.pt/"><img src="img/logos/partner-keep.png" height="185" width="1290" class="img-responsive center-block"
                    alt="Keep Solutions"></a>
                </div>
            </div>
            <!-- PARTNERS -->
            <div class="wrapper text-center col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4 class="partners-header">
                        <span>PARTNERS</span>
                    </h4>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-3 partner-img">
                   <a target="_blank" href="http://storyoapp.com"><img src="img/logos/partner-storyo.png" height="4861" width="8523" class="img-responsive center-block" alt="Storyo"></a>
                </div>
                <div class="col-md-3 partner-img">
                   <a target="_blank" href="http://www.blip.pt/"><img src="img/logos/partner-blip.png" height="4861" width="8523" class="img-responsive center-block" alt="Blip"></a>
                </div>
                <div class="col-md-3 partner-img">
                    <a target="_blank" href="https://beeverycreative.com/"><img src="img/logos/partner-bee.png" height="1655" width="4851" class="img-responsive center-block"
                    alt="BeeVeryCreative"></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-3 col-sm-12 partner-img">
                    <a target="_blank" href="http://inmotion.pt"><img src="img/logos/partner-inmotion.png" height="1918" width="7776" class="img-responsive center-block" alt="inmotion"></a>
                </div>
                <div class="col-md-3 col-sm-12 partner-img">
                   <a target="_blank" href="fpvportugal.com"><img src="img/logos/partner-fpv.png" height="514" width="200" class="img-responsive center-block" alt="FPV Portugal"></a>
                </div>
                <div class="col-md-3 col-sm-12 partner-img">
                   <a target="_blank" href="http://www.novobanco.pt"><img src="img/logos/partner-novo-banco.png" height="4861" width="8523" class="img-responsive center-block" alt="Novo Banco"></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-3 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.investbraga.com/startup/"><img src="img/logos/partner-startupbraga.png" height="156" width="1000" class="img-responsive center-block"
                    alt="Startup Braga"></a>
                </div>
                <div class="col-md-3 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.allkits.pt"><img src="img/logos/partner-allkits.png" height="500" width="1000" class="img-responsive center-block"
                    alt="Allkits"></a>
                </div>
                <div class="col-md-3 col-sm-12 partner-img">
                    <a target="_blank" href="http://www.redbull.com/pt/pt"><img src="img/logos/partner-red-bull.png" height="1655" width="4851" class="img-responsive center-block"
                    alt="Red Bull"></a>
                </div>
            </div>
            <div class="wrapper col-md-12">
                <div class="col-md-3 partner-img">
                    <a target="_blank" href="https://www.facebook.com/tasquinhabracarensepagina"><img src="img/logos/partner-tasquinha-bracarense.png" height="1655" width="4851" class="img-responsive center-block"
                    alt="Tasquinha Bracarense"></a>
                </div>
                <div class="col-md-3 partner-img">
                    <a target="_blank" href="https://www.facebook.com/multicris"><img src="img/logos/partner-multicris.png" height="1029" width="2048" class="img-responsive center-block"
                    alt="Multicris"></a>
                </div>
                <div class="col-md-3 partner-img">
                    <a target="_blank" href="https://www.facebook.com/festaslei"><img src="img/logos/comissao_festas.png" height="720" width="1206" class="img-responsive center-block"
                    alt="Comissão de Festas de LEI"></a>
                </div>
            </div>
    </section>