<section id="staff">
  <div class="container">
    
    <div class="section-title-container">
      <h1 class="section-title">Organização</h1>
    </div>

    {% for staff in site.data.staff %}
    {% if staff.pic %}
    <div repeat="staff in staffs" class="col-md-2  col-sm-2 col-xs-3 staff">
      <div class="staff-info-container" style="background-image: url( {% asset_path 'staff/{{ staff.pic }}' %} )">
        <div class="staff-info">
          <span class="col-md-12 staff-name">{{ staff.name }}</span>
          <ul class="list-inline social-buttons">
            {% if staff.website %}
            <li>
              <a href="{{ staff.website }}" target="_blank"><i class="fa fa-globe"></i></a>
            </li>
            {% endif %}
            {% if staff.twitter %}
            <li>
              <a href="{{ staff.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}
            {% if staff.github %}
            <li>
              <a href="{{ staff.github }}" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            {% endif %}
            {% if staff.linkedin %}
            <li>
              <a href="{{ staff.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
