
#aboutsei
  background-attachment: scroll
  background-image: url(../img/stuff-dark.png)
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  font-family: 'Open Sans'
  background-color: #222

.aboutsei-title
  color: white
  float: center