#accommodation
  text-align: center
  background-attachment: scroll
  background-image: url(../img/background_events.png)
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100%
  padding-bottom: 30px

.accommodation-title
  float: right

.hotel-name
  text-transform: uppercase
  font-weight: bold
  font-size: 26px
  color: #0098ff
  letter-spacing: 1px
  &::after
    content: ""
    display: table
    clear: both
    width: 80%
    max-width: 170px
    margin: 0 auto
    border-bottom: 4px solid #fff

.hotel-contact
  margin-top: 5px
  font-size: 16px
  color: #fff

@media (max-width: 1200px)
  #accommodation
    height: 1350px

@media (max-width: 992px)
  #accommodation
    height: 1300px
  .hotel-img
    width: 150px
    height: 150px
  #accommodation
    padding-bottom: 50px
  .hotel-name
    font-size: 22px
  .hotel-contact
    font-size: 14px

@media (max-width: 767px)
  #accommodation
    height: 800px
  .hotel-name
    font-size: 16px
    &::after
      border-bottom: 2px solid #fff

@media (max-width: 720px)
  #accommodation
    height: 1150px
  .hotel-name
    font-size: 16px
    &::after
      border-bottom: 2px solid #fff


@media (max-width: 488px)
  #accommodation
    height: 1400px
  .hotel-name
    font-size: 16px
    &::after
      border-bottom: 2px solid #fff


@media (max-width: 472px)
  #accommodation
    height: 1750px
  .hotel-name
    font-size: 16px
    &::after
      border-bottom: 2px solid #fff


@media (max-width: 447px)
  .speaker-img
    width: 75px
    height: 75px
  .hotel-name
    font-size: 14px
  .hotel-contact
    font-size: 12px

.accommodation-list
  max-width: 1360px
  min-width: 280px
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin: 25px auto
  @media(min-width: 1200px)
    margin: 0 auto
    flex-direction: row


.accommodation-list-cell
  text-align: center
  align-self: flex-start
  margin: 25px auto
  max-width: 350px
  @media(max-width: 768px)
    max-width: 320px
  @media(min-width: 1200px)
    margin: 0 0 20 0
