
#activities
  background-attachment: scroll
  background-image: url(../img/background_1.png)
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100%
  padding-bottom: 15%
  a
    &:hover, &:focus
      color: #fec503


.activities-title
  float: left
  font-size: 20px
  font-weight: bold
  color:white

.activities-container
  margin-bottom: 5px
  max-height: 500px
  img
    max-width: 125px
    display: block
    margin: 0 auto
    margin-top: 5px
    margin-bottom: 5px
  p::before
    font-weight: bold
    font-size: 16px



.activities-description
  text-align: justify
  margin: 25px

.activities-container
  text-align: center