.Agenda-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start

.Agenda-column
  max-width: 250px
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  margin: 5px

.AgendaItem
  width: 200px
  padding: 5px
  border-left: 5px solid #5E5E5E
  background-color: #4B4B4B
  color: white
  font-weight: bold

.Agendaloc
  width: 200px
  padding: 0px 10px 5px 0px
  border-left: 5px solid #5E5E5E
  text-align: right
  background-color: #4B4B4B
  color: white

.Agendatype
  width: 200px
  padding: 0px 10px 5px 0px  
  text-align: right
  color: red




.filler
  height: 50px

.AgendaDay
  font-weight: bold
  font-size: 14px

.coffee
  height: 30px