#agenda 
  background-image: url(../img/stuff-dark.png)
  background-position: center center
  -webkit-background-size: cover
  background-repeat: none
  -moz-background-size: cover
  -o-background-size: cover
  background-color: #222
  background-attachment: fixed


.Agenda-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  margin: 0 auto
  justify-content: center

.Agenda-column
  max-width: 250px
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  margin: 5px 10px 0px 10px



.agenda-title 
  float: left
  margin: 50px 0px 50px 0px


.AgendaItem
  width: 250px
  padding: 5px
  border-left: 5px solid #5E5E5E
  background-color: #4B4B4B
  color: white
  font-size: 14px
  font-weight: bold

.Agendaloc
  width: 250px
  padding: 0px 10px 5px 0px
  border-left: 5px solid #5E5E5E
  text-align: right
  background-color: #4B4B4B
  color: white

.Agendatype
  text-align: right
  width: 100%  
  color: red


.Agendaplace
  text-align: right
  width: 100%  
  color: red

.filler
  height: 150px

.AgendaDay
  font-weight: bold
  font-size: 20px
  font-align: center

.halfhourf
  height: 35px

.hourandhalff
  height: 155px

.coffee
  width: 100%

.hourf
  height: 110px

.twohourf
  height: 175px

.threehourf
  height: 300px

.threehourandhalff
  height: 315px


.railsgirls
  height: 300px

.halfhour
  height: 25px

.hourandhalf
  height: 135px

.hour
  height: 50px

.twohour
  height: 130px

.threehour
  height: 280px

.threehourandhalf
  height: 235px

.plux
  height: 60px

.celso
  height: 60px

.faber
  height: 115px

.segundafill
  height: 125px

.blip
  height: 150px

.imobilemagic
  height: 100px

.rga
  height: 155px

.catcampos
  height: 60px

.twohoursandhalf
  height: 235px

.itgrow
  height: 105px

.sextacof
  height: 70px

.hacksexta
  height: 550px

.twentyhour
  height: 1085px