---
layout: default
---
<section id="aboutspeakers" controller="speakerCtrl">
  <div class="container">
    <div class="section-title-container text-center">
      <h1 class="section-title">Equipa</h1>
    </div>

    <div class="speakers-def col-md-8 col-md-offset-2">
      Para te trazer esta semana, o CeSIUM juntou a melhor equipa possível. Eles andam por aí, sem dormir há 5 dias, stressados e cheios de trabalho. Se vires algum deles manda-lhes um sorriso, eles agradecem.
    </div>

    {% include staff.html %}

    <div class="section-title-container text-center">
      <h1 class="section-title">Como nos encontrar</h1>
    </div>

    {% include contacts.html %}

  </div>
</section>
