<section id="activities">
    <div class="container">
    {% for day in site.data.agenda %}
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="agenda-title">{{ day.date }}</div>
            </div>
        </div>

        <div class="container">
        {% for act in day.activities %}
          {% if act.image %}
          <div id="{{ act.name | slugify }}" class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 activity-box">
                <div class="col-sm-3 hidden-xs activity-img">
                  {% image 'activities/{{ act.image }}' %}
                  <div class="activity-info">
                    <div class="activity-datetime">
                      <p>
                        <i class="fa fa-map-marker"></i><span> {{ act.place }}</span>
                      </p>
                      <p>
                        <i class="fa fa-clock-o"></i><span>{{ act.time }}</span>
                      </p>
                    </div>
                    <div class="activity-speaker">
                      {% if act.speaker %}
                      <a href="/speakers/#{{ act.speaker | slugify }}">
                        <i class="fa fa-user"></i><span>{{ act.speaker }}</span>
                      </a>
                      {% endif %}
                      {% if act.enterprise %}
                      <div class="activity-enterprise">
                        <i class="fa fa-building-o"></i><span>{{ act.enterprise }}</span>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-sm-9 activity-text">
                  <p class="activity-title">{{ act.name }}</p>
                  {% if act.type %}
                  <div class="activity-type">
                    <p>{{ act.type }}</p>
                  </div>
                  <div class="hidden-lg hidden-md hidden-sm activity-info">
                    <div class="activity-datetime">
                      <div class="col-xs-5">
                        <i class="fa fa-map-marker"></i><span>{{ act.place }}</span>
                      </div>
                      <div class="col-xs-7 text-right">
                        <i class="fa fa-clock-o"></i><span>{{ act.time }}</span>
                      </div>
                    </div>
                    <div class="col-xs-12 activity-speaker">
                      {% if act.speaker %}
                      <i class="fa fa-user"></i><span>{{ act.speaker }}</span>
                      {% endif %}
                      {% if act.enterprise %}
                      <div class="activity-enterprise">
                        <i class="fa fa-building-o"></i><span>{{ act.enterprise }}</span>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                 <p class="col-xs-12 activity-text">{{ act.text }}</p>
                  {% if act.register %}
                  <a href="{{ act.register }}" target="_blank">
                    <button class="btn btn-info btn-sei">Inscrição</button>
                  </a>
                  {% endif %}
                </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <div class="activity-filler"></div>
        </div>
      {% endfor %}
    </div>
  </section>
