<div id="heartbits-awards">
  <div class="container">
    <div class="row">
      <div class="col-md-4 activities-container">

        <i class="fa fa-trophy fa-4x"></i>
        <h5>1.º Prémio</h5>

        <p class="activities-description">Todos os elementos da equipa vencedora recebem 1 Fitbit</p>
        <a href="https://www.fitbit.com/eu/flex" target="_blank">
          <button class="btn btn-info btn-sei">Fitbits</button>
        </a>
      </div>

      <div class="col-md-4 activities-container">

        <i class="fa fa-star fa-4x"></i>
        <h5>2.º Prémio</h5>

        <p class="activities-description">Todos os elementos da equipa que ficar em 2.º lugar recebem 1 Chromecast</p>
        <a href="https://www.google.com/intl/pt_pt/chromecast/tv/#?discover" target="_blank">
          <button class="btn btn-info btn-sei">Chromecasts</button>
        </a>
      </div>

      <div class="col-md-4 activities-container">

        <i class="fa fa-gift fa-4x"></i>
        <h5>Surpresas</h5>

        <p class="activities-description">Vários outros prémios disponíveis ao longo do evento! </p>
      </div>

    </div>
  </div>
</div>
