<header id="heartbits-header">
  <div class="header-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {% image heartbits/header.png class:'brand img-responsive' %}

          <div id="clock">
            <div class="clock-segment">
              <span class="days"></span>
              <div class="clock-unit">Dias</div>
            </div>
            <div class="clock-segment">
              <span class="hours"></span>
              <div class="clock-unit">Horas</div>
            </div>
            <div class="clock-segment">
              <span class="minutes"></span>
              <div class="clock-unit">Minutos</div>
            </div>
            <div class="clock-segment">
              <span class="seconds"></span>
              <div class="clock-unit">Segundos</div>
            </div>
          </div>

          <div class="center-no-float">
            <button type="button" class="btn btn-default register disabled">Inscrições encerradas</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
