<div id="heartbits-info">
  <div class="container">

    <div class="info">
      <h4 class="info-question">O que é?</h4>
      <div class="info-text">
        A Hackathon HeartBits powered by Subvisual é um evento do Centro de Estudantes de Informática da Universidade do Minho (CeSIUM) e da Associação Nacional de Estudantes de Medicina (ANEM) com o apoio técnico da Direção-Geral da Saúde (DGS) e patrocínio da Subvisual.<br>
        O objetivo é a construção em equipa de uma plataforma (website, app, ou outro sistema), que tenha como finalidade a "Promoção da Saúde e Prevenção da Doença". <br>
        Serão proporcionados momentos de relaxamento, dinâmicas de grupo e oportunidades de aprendizagem a todos os participantes, como talks, desafios e outras sessões, que terão lugar paralelamente ao trabalho das equipas, sendo muito delas opcionais. <br>
        O evento é totalmente gratuito para os participantes.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quando e onde ocorre?</h4>
      <div class="info-text">
        Este evento será realizado a partir das 18h do dia 12 de Fevereiro até às 20h do dia 13 de Fevereiro, na Escola de Ciências da Saúde da Universidade do Minho, com o apoio da presidência.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quem pode participar?</h4>
      <div  class="info-text">
        Estudantes do ensino superior português, público ou privado e profissionais recèm licenciados, ligados à área da Saúde ou Programação. No entanto, os estudantes têm prioridade na obtenção de vagas.
      </div>
    </div>


    <div class="info">
      <h4 class="info-question">Tenho de me inscrever em equipa?</h4>
      <div class="info-text">
        As inscrições podem ser feitas individualmente, ou até 4 elementos. A equipa tem no entanto de ser mista (saúde e informática). Elementos que não formem uma equipa completa serão adicionados a outros.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Mais informações</h4>
      <div class="info-text">
        Consulte o regulamento disponível:
        <a  href="https://drive.google.com/open?id=0B3_r_ZU5WoqwVEJMbFFhNlRMM0E" target="_blank">
          <button class="btn btn-info btn-sei btn-left">Regulamento</button>
        </a>
      </div>
    </div>

  </div>
</div>
