---
layout: default
---

<section id="challenges">

  <div class="container">
    <div class="section-title-container text-center">
      <h1 class="section-title">Desafios</h1>
    </div>

    <div class="col-md-offset-2 col-md-8 def-text">

      Somos de opinião que mais interessante que palestras e workshops, são desafios e concursos! Por essa razão, e já como vem sendo tradição, decidimos criar várias competições amigáveis. Destaca-te numa destas áreas mas, mais importante ainda, diverte-te!


    </div>
  </div>
</section>

{% for challenge in site.data.challenges %}

<section class="{{ challenge.class }} col-md-12">


  <div class="col-md-8 col-md-offset-2">

    <div class=" container des-subtitle col-md-12">
      {{ challenge.name }}
    </div>



    <span class="col-md-offset-2 def-text col-md-8">
      {{ challenge.desc }}
    </span>


    {% if challenge.enunciado %}
    <div class="col-md-5 col-md-offset-1 ac-container">
      <div>
        <button data-toggle="collapse" data-target="#{{ challenge.name | slugify }}" class="btn btn-info btn-sei">Enunciado</button>
      <div class="panel-collapse collapse" id="{{ challenge.name | slugify }}">
          <p>{{ challenge.enunciado }}</p>
          {% if challenge.points %}
          <h5> Pontuação </h5>
          <ul>
            {% for task in challenge.points %}
              <li> {{ task.task }} </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if challenge.rules %}
          <h5> Regulamento </h5>
          <p>{{ challenge.rules }}</p>
          {% endif %}
          {% if challenge.input %}
          <a href="{{ challenge.input }}" target="_blank"><button class="btn btn-info btn-sei btn-des">INPUT</button></a>
          {% endif %}

          {% if challenge.submit %}
          <a href="{{ challenge.submit }}" target="_blank"><button class="btn btn-info btn-sei btn-des">SUBMETER</button></a>
          {% endif %}

      </div>
      </div>
    </div>

    {% elsif challenge.sub %}
    <div class="col-md-5 col-md-offset-1 ac-container">
      <div>

        <a href="…"><button class="btn btn-info btn-sei btn-des">SUBMETER</button></a>


      </div>
    </div>
    {% endif %}

  </div>

  <div id="hackathon-awards">
    <div class="container">
      <div class="row">
        {% for prize in challenge.prizes %}
        <div class="col-md-4 activities-container">

          <i class="fa {{ prize.img }} fa-4x"></i>
          {% if prize.num %}
            <h5>{{ prize.num }}.º Prémio</h5>
          {% else %}
            <h5>Prémio</h5>
          {% endif %}
          <a href="{{ prize.link }}" target="_blank">
            <button class="btn btn-info btn-sei">{{ prize.name }}</button>
          </a>
        </div>


        {% endfor %}
      </div>
    </div>
  </div>


</section>

{% endfor %}
