 <!-- Events Section -->
    <section id="events" ng-controller="eventCtrl as event">
        <div class="container">
            <div class="col-md-12 title-container">
                <div class="events-title">Eventos</div>
            </div>
            <ul rn-carousel rn-carousel-index="carouselEvents" class="carousel1 events-carousel col-md-12">
                <li ng-repeat="slide in eventSlides">
                    <div ng-include="slide.file" onload="marteladaIncludeFeito()"></div>
                </li>
            </ul>
            <div class="events-status col-md-12 rn-carousel-indicator custom-indicator">
                <div ng-repeat="slide in eventSlides" class="event-day col-md-1 col-sm-1 col-xs-1" ng-class="{'col-md-offset-2 col-sm-offset-2 col-xs-offset-2': $first, 'last-circle' : $last, 'active' : ($parent.carouselEvents == $index) }" ng-click="$parent.carouselEvents = $index">
                    <div class="events-circle">
                        <div></div>
                    </div>
                    <span class="event-day-date">{{ slide.day }}</span></br>
                    <span class="event-day-week">{{ slide.weekday }}</span>
                </div>
            </div>
        </div>
    </section>