<div id="hackathon-awards">
  <div class="container">
    <div class="row">
      <div class="col-md-4 activities-container">

        <i class="fa fa-trophy fa-4x"></i>
        <h5>1.º Prémio</h5>

        <p class="activities-description">Uns Auscultadores Sony Bluetooth<br/>para cada elemento da equipa</p>
        <a href="https://goo.gl/3v92nc" target="_blank">
          <button class="btn btn-info btn-sei">Sony Auscultadores</button>
        </a>
      </div>

      <div class="col-md-4 activities-container">

        <i class="fa fa-star fa-4x"></i>
        <h5>2.º Prémio</h5>

        <p class="activities-description">Um Chromecast<br/>para cada elemento da equipa</p>

        <a href="https://www.google.com/intl/pt_pt/chromecast/tv/#?discover" target="_blank">
          <button class="btn btn-info btn-sei">Google Chromecast</button>
        </a>
      </div>

      <div class="col-md-4 activities-container">

        <i class="fa fa-star fa-4x"></i>
        <h5>3.º Prémio</h5>

        <p class="activities-description">Um kit Infinite Book<br/>para cada elemento da equipa</p>
        <a href="http://infinitebook.pt/" target="_blank">
          <button class="btn btn-info btn-sei">Infinite Book</button>
        </a>
      </div>

      <div class="col-md-12 activities-container">
        <i class="fa fa-gift fa-4x"></i>
        <h5>Surpresas</h5>

        <p class="activities-description">E vários outros prémios disponíveis ao longo do evento!</p>
      </div>

    </div>
  </div>
</div>
