<header id="hackathon-header">
  <div class="header-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {% image hackathon/header.png class:'brand img-responsive' %}

          <div id="clock">
              10 a 11 de Fevereiro
          </div>

          <a href="https://cesium.typeform.com/to/W0HpqL" target="_blank">
            <button id="registerbutton" class="btn btn-info btn-sei btn-hackathon">Inscreve-te Agora!</button>
          </a>

        </div>
      </div>
    </div>
  </div>
</header>
