<header id="hackathon-header">
  <div class="header-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {% image hackathon/header.png class:'brand img-responsive' %}

          <div id="date">
            10 a 11 de fevereiro <br> <br>
            <!--Faltam
            As inscrições encontram-se encerradas-->
          </div>

          <!--<div id="remaining">Faltam</div>-->
          <!--
          <div id="clock">
            <div class="clock-segment">
              <span class="days"></span>
              <div class="clock-unit">Dias</div>
            </div>
            <div class="clock-segment">
              <span class="hours"></span>
              <div class="clock-unit">Horas</div>
            </div>
            <div class="clock-segment">
              <span class="minutes"></span>
              <div class="clock-unit">Minutos</div>
            </div>
            <div class="clock-segment">
              <span class="seconds"></span>
              <div class="clock-unit">Segundos</div>
            </div>
          </div>
          
          <div id="call">para o fim da hackathon</div>

          <a href="https://cesium.typeform.com/to/W0HpqL" target="_blank">
            <button id="registerbutton" class="btn btn-info btn-sei btn-hackathon">Inscreve-te Já!</button>
          </a> 
            -->
          
        </div>
      </div>
    </div>
  </div>
</header>
