<div id="hackathon-info">
  <div class="container">

    <div class="info">
      <h4 class="info-question">O que é?</h4>
      <div class="info-text">
        A Hackathon Return é uma maratona de programação gratuita, organizada pelo Centro de estudantes de Engenharia Informática da Universidade do Minho (CeSIUM), cujo tema é o <strong>Bem Social</strong>, onde os participantes são desafiados a “devolver” à sociedade em geral parte do bem que esta lhes trouxe.</br>
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Bem social? Como assim?</h4>
      <div class="info-text">
        Especificamente, o objetivo é o desenvolvimento de uma plataforma (website, app ou outro sistema), que resolva problemas sociais, aliando a tecnologia ao bem social.
        <p>Estas soluções podem dizer respeito a qualquer área social, como por exemplo:</p>
        <ul>
          <li>Apoio a crianças e jovens;</li>
          <li>Apoio à família;</li>
          <li>Proteção dos cidadãos na velhice e invalidez;</li>
          <li>Promoção e proteção da saúde pública ou pessoal;</li>
          <li>Educação e formação profissional dos cidadãos;</li>
          <li>Resolução dos problemas habitacionais das populações;</li>
          <li>Facilitador do dia a dia da população com necessidades especiais.</li>
        </ul>
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Vai ser só programar?</h4>
      <div class="info-text">
        Para além da Hackathon, terás a oportunidade de participar em sessões de relaxamento, palestras e desafios, que serão lançados ao longo de todo o evento. Partilha ideias com a tua equipa e aproveita uma oportunidade única para aprender e contribuir para uma causa social que tu próprio podes escolher.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quando e onde ocorre?</h4>
      <div class="info-text">
        A maratona vai realizar-se das 18h do dia 10 de fevereiro até às 20h do dia 11 de fevereiro, na GNRation, em Braga.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Quem pode participar?</h4>
      <div  class="info-text">
        Se és estudante do ensino superior português, público ou privado, ou até profissional recém licenciado, e tens interesse em temas ligados à Solidariedade e ao Desenvolvimento Social ou à programação, estás apto para seres um dos magníficos  participantes deste evento.
      </div>
    </div>


    <div class="info">
      <h4 class="info-question">Como e onde me inscrevo?</h4>
      <div class="info-text">
        As inscrições podem ser feitas individualmente ou em grupo (até 4 elementos). Cada equipa tem, no entanto, de ser obrigatóriamente constituída por, pelo menos, dois elementos que devem estar ligados à área da programação. As equipas que não satisfaçam esta condição serão reajustadas, tendo em conta as preferências iniciais. Caso não tenhas um grupo, não deixes de participar! Com certeza haverá mais participantes isolados, que podem formar novas equipas. Fica também atento à página do <a href="www.facebook.com/SEI.UMinho/">Facebook da SEI</a> para que não te escape nenhuma novidade!
    </div>

    <div class="info">
      <h4 class="info-question">Já tenho uma solução social desenvolvida, posso utilizá-la para concorrer na Hackathon?</h4>
      <div class="info-text">
        Infelizmente não. Queremos que os participantes sintam o verdadeiro espírito de hackathon e, como tal, os projetos devem ser desenvolvidos durante a mesma. Porém, não há problema se organizares e estruturares previamente a solução a desenvolver.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Que tipo de material preciso?</h4>
      <div class="info-text">
        Deves trazer todo o tipo de material que achares necessário para o desenvolvimento do teu projeto, desde pequenas peças de hardware até ao mais sofisticado computador. Terás acesso à rede Wi-Fi do evento e a uma mesa para a tua equipa.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Tenho de desenvolver a ideia durante toda a noite?</h4>
      <div class="info-text">
        Tu e a tua equipa é que decidem o método de trabalho e de repouso! Terás à tua disposição um espaço mais escuro onde podes descansar, mas lembra-te: A hackathon não para!
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Tenho de providenciar a minha alimentação?</h4>
      <div class="info-text">
        Claro que não. A organização responsabiliza-se por refeições e snacks durante todo o evento, para que nunca te falte força para continuares a trabalhar na tua solução.
        Caso tenhas restrições alimentares, <a href="mailto:cesium@di.uminho.pt">entra em contacto connosco</a>.
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Como chegar?</h4>
      <div class="info-text">
        <ul>
          <li><a href="https://www.google.pt/maps/dir/Esta%C3%A7%C3%A3o+de+Braga,+Largo+da+Esta%C3%A7%C3%A3o,+Braga/GNRation,+Pra%C3%A7a+Conde+de+Agrolongo,+Braga/@41.5509322,-8.4323789,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0xd24feddc57e8dd9:0x828633490fb1368e!2m2!1d-8.4341246!2d41.54873!1m5!1m1!1s0xd24fee9ae15fe63:0xf715da419f911455!2m2!1d-8.42622!2d41.5531265">Estação de comboios</a></li>
          <li><a href="https://www.google.pt/maps/dir/Universidade+do+Minho/GNRation,+Pra%C3%A7a+Conde+de+Agrolongo,+Braga/@41.5551146,-8.4221236,14.71z/data=!4m13!4m12!1m5!1m1!1s0xd24fe9d65232211:0xa8e0792143d7cad0!2m2!1d-8.3972646!2d41.5614711!1m5!1m1!1s0xd24fee9ae15fe63:0xf715da419f911455!2m2!1d-8.42622!2d41.5531265">Universidade do Minho</a></li>
          <li><a href="https://www.google.pt/maps/place/GNRation/@41.5531305,-8.4284087,17z/data=!3m1!4b1!4m5!3m4!1s0xd24fee9ae15fe63:0xf715da419f911455!8m2!3d41.5531265!4d-8.42622">GNRation</a></li>
          </ul>
      </div>
    </div>

    <div class="info">
      <h4 class="info-question">Mais informações</h4>
      <div class="info-text">
        Consulte o regulamento disponível:
        <a  href="https://drive.google.com/open?id=0B98jlL4oJiLlcXVjSTBxX25reU0" target="_blank">
          <button class="btn btn-info btn-sei btn-left">Regulamento</button>
        </a>
      </div>
    </div>

  </div>
</div>
