<div id="hackathon-organisation">
  <div class="container text-center">

    <div class="hackathon-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>POWERED BY</span>
      </h4>
      <div class="center-block partner-img">
        <a id="subvisual-logo" target="_blank" href="https://subvisual.co/"> {% image logos/sponsor-subvisual.png class:'center-block img-responsive' %} </a>
      </div>
    </div>


    <div class="hackathon-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>Apoiado por</span>
      </h4>
      <div class="col-md-4 center-no-float partner-img">
        <a target="_blank" href="http://dgs.pt"> {% image hackathon/partner-dgs.png class:'center-block img-responsive' %} </a>
      </div>
    </div>


    <div class="hackathon-partners">
      <h4 class="col-md-3 center-no-float partners-header">
        <span>Organização</span>
      </h4>
      <div class="flex-wrapper">
        <div class="partner-img">
          <a target="_blank" href="http://www.anem.pt/"> {% image hackathon/partner-anem.png class:'center-block img-responsive' %} </a>
        </div>

        <div class="partner-img">
          <a target="_blank" href="http://cesium.di.uminho.pt/"> {% image logos/cesium.png class:'center-block img-responsive' %} </a>
        </div>
      </div>
    </div>

  </div>
</div>
