<div id="agenda" class="hackathon-schedule">
  <div class="container">

    <div class="section-title-container">
      <h1 class="section-title">Horário</h1>
    </div>

    <div class="agenda-wrapper">

      <div class="col-sm-3 agenda-day">
        <h4 class="center-block agenda-date"> 10 FEV. <br><span>SEXTA</span></h4>          

        <div class="agenda-activity">
          <div class="activity-time">18:00-18:30</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Abertura da Receção</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">18:30-19:00</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Sessão de Abertura</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">19:00</div>
            <div class="activity-block one-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Início da HACKATHON</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">20:00-21:30</div>
            <div class="activity-block one-hour-and-half text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Jantar</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <!--div class="agenda-activity">
          <div class="activity-time">22:00</div>
            <div class="activity-block one-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Talk - TBA</b></div>
            </div>
          <div class="activity-location"></div>
        </div-->

      </div>
      
      <div class="col-sm-3 agenda-day">
        <h4 class="center-block agenda-date"> 11 FEV. <br><span>SÁBADO</span></h4>

        <div class="agenda-activity">
          <div class="activity-time">09:00</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Pequeno-Almoço</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">12:00</div>
            <div class="activity-block one-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Almoço</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">18:00</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Fim da Hackathon</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">18:00-19:00</div>
            <div class="activity-block one-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Apresentações</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

        <div class="agenda-activity">
          <div class="activity-time">20:00</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>Sessão de encerramento & Entrega de Prémios</b></div>
            </div>
          <div class="activity-location"></div>
        </div>

      </div>

    </div>

  </div>
</div>
